<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
      <link href=/assets/style.css type=text/css rel=stylesheet>
    </head>
    <body>
      <div class="container mt-5">
        <div class="display-2 text-danger text-center">
          <strong>
            404 
          </strong>
          Not Found :(
        </div>
      </div>
    </body>
  </html>